.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1.0;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1.0;
}

.fade-exit-active {
  opacity: 0.0;
  transition: opacity 1000ms ease-out;
}

.videoparallax{
  filter:sepia(100%);
  position: fixed;
  object-fit: fill;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  z-index: -9999;
}